.image-popup{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom:0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}