.popup__submit-button{
    margin: 0;
    width: 100%;
    padding: 14px 124px 18px 125px;
    border: none;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    background-color: black;
    cursor: pointer;
}

@media screen and (max-width: 980px){
    .popup__submit-button{
        padding: 14px 82px;
        font-size: 14px;
        line-height: 17px;
        }
    }

.popup__submit-button:hover{
    opacity: 0.8;
    transition: 0.3s;
}