.profile__avatar{
    width: 120px;
    height: 120px;
    margin: 0;
    margin-right: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.profile__avatar:hover{
    opacity: 0.5;
    transition: 0.3s;
}

@media screen and (max-width: 1110px){
    .profile__avatar{
        margin: 0 auto 26px auto;
        }
    }