@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter-web/inter.css);

@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__info/element__info.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like-button/element__like-button.css);

@import url(../blocks/footer/footer.css);

.popup{
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.popup__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 430px;
    min-height: 330px;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (max-width: 980px){
    .popup__container{
        min-width: 282px;
        min-height: 322px; 
        }
    }

.popup__close-button{
    background-image: url(../images/close-button.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
}

@media screen and (max-width: 980px){
    .popup__close-button{
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
        }
    }

.popup__close-button:hover{
    opacity: 0.6;
    transition: 0.3s;
}

.popup__title{
    margin: 34px auto 54px 36px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: left;
}

@media screen and (max-width: 980px){
    .popup__title{
        font-size: 18px;
        line-height: 22px;
        margin: 25px 22px 75px 22px; 
        }
    }

.popup__form{
    margin: 0;
    width: calc(100% - 2 * 36px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 980px){
    .popup__form{
        width: calc(100% - 2 * 22px); 
        }
    }

.popup__input{
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 30px 0;
    width: 100%;
    padding-bottom: 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
}

.popup__input:last-child{
    margin-bottom: 48px;
}

.popup__submit-button{
    margin: 0;
    width: 100%;
    padding: 14px 124px 18px 125px;
    border: none;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    background-color: black;
}

@media screen and (max-width: 980px){
    .popup__submit-button{
        padding: 14px 82px;
        font-size: 14px;
        line-height: 17px;
        }
    }

.popup__submit-button:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.popup_opened{
    display: flex;
}