.element__like-button{
    margin: 0 0 0 20px;
    width: 22px;
    height: 19px;
    background-color: transparent;
    background-image: url(../../../images/like-button.svg);
    background-repeat: no-repeat;
    border: none;
}

.element__like-button:hover{
    opacity: 0.5;
    transition: 0.3s;
}

.element__like-button_clicked{
    background-image: url(../../../images/like-button-clicked.svg);
}