.profile__info{
    margin: 0;
    display: grid;
    grid-template-columns: 294fr 18px;
    grid-template-rows: auto;
    grid-template-areas: 
    "profile__name profile__edit-button"
    "profile__description .";
    row-gap: 16px;
    column-gap: 18px;
    justify-items: start;
    align-items: center;
}